<app-nav></app-nav>
<div id="content">
  <div style="display: flex; align-items: center;">

    <mat-form-field class="example-form-field">
      <mat-label>Search</mat-label>
      <input matInput type="text" [(ngModel)]="value" (input)="search()" >
      @if (value) {
        <button matSuffix mat-icon-button aria-label="Clear" class="cross-icon" (click)="clearSearch()">
          <mat-icon>close</mat-icon>
        </button>
      }
    </mat-form-field>

  </div>
  <div class="relative overflow-x-auto shadow-md sm:rounded-lg">
    <table class="w-full text-sm text-left rtl:text-right text-gray-500 dark:text-gray-400">
      <thead class="text-xs text-purple-700 uppercase bg-purple-50 dark:bg-purple-700 dark:text-gray-400"
        style="background-color: #673ab7;">
        <tr>
          <th scope="col" class="px-6 py-3">
            <div style="display: flex; align-items: center;" id="header-div">
                <a (click)="sort('user_name')">Name</a>
                @if(sortBy=="user_name"){
                  @if(sortOrder=="asc"){
                    <mat-icon style="font-size: 20px; color: rgb(182, 181, 181);">arrow_upward</mat-icon>
                  }
                  @else {
                    <mat-icon style="font-size: 20px; color: rgb(182, 181, 181);">arrow_downward</mat-icon>
                  }
                }
            </div>
        </th>
        <th scope="col" class="px-6 py-3">
          <div style="display: flex; align-items: center;" id="header-div">
            <a (click)="sort('user_email')" >Email</a>
              @if(sortBy=="user_email"){
                @if(sortOrder=="asc"){
                  <mat-icon style="font-size: 20px; color: rgb(182, 181, 181);">arrow_upward</mat-icon>
                }
                @else {
                  <mat-icon style="font-size: 20px; color: rgb(182, 181, 181);">arrow_downward</mat-icon>
                }
              }
          </div>
      </th>
      <th scope="col" class="px-6 py-3">
        <div style="display: flex; align-items: center;" id="header-div">
            <a (click)="sort('user_gender')" >Gender</a>
            @if(sortBy=="user_gender"){
              @if(sortOrder=="asc"){
                <mat-icon style="font-size: 20px; color: rgb(182, 181, 181);">arrow_upward</mat-icon>
              }
              @else {
                <mat-icon style="font-size: 20px; color: rgb(182, 181, 181);">arrow_downward</mat-icon>
              }
            }
        </div>
    </th>
    <th scope="col" class="px-6 py-3">
      <div style="display: flex; align-items: center;" id="header-div">
          <a (click)="sort('user_number')" >Number</a>
          @if(sortBy=="user_number"){
            @if(sortOrder=="asc"){
              <mat-icon style="font-size: 20px; color: rgb(182, 181, 181);">arrow_upward</mat-icon>
            }
            @else {
              <mat-icon style="font-size: 20px; color: rgb(182, 181, 181);">arrow_downward</mat-icon>
            }
          }
      </div>
  </th>
  <th scope="col" class="px-6 py-3">
    <div style="display: flex; align-items: center;" id="header-div">
        <a (click)="sort('user_created_at')" >Created Time</a>
        @if(sortBy=="user_created_at"){
          @if(sortOrder=="asc"){
            <mat-icon style="font-size: 20px; color: rgb(182, 181, 181);">arrow_upward</mat-icon>
          }
          @else {
            <mat-icon style="font-size: 20px; color: rgb(182, 181, 181);">arrow_downward</mat-icon>
          }
        }
    </div>
</th>

          <th scope="col" class="px-6 py-3">
            Deatils
          </th>
          <th scope="col" class="px-6 py-3">
            Actions

          </th>
        </tr>
      </thead>
      <tbody>
        @if(isloading){
        <td class="px-20 py-10 text-center text-xl text-red-400" colspan="7" rowspan="2">
          <div role="status" style="display: flex; justify-content: center;">
            <svg aria-hidden="true"
              class="w-20 h-20 text-gray-200 animate-spin dark:text-gray-600 fill-blue-600 text-center"
              viewBox="0 0 100 101" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path
                d="M100 50.5908C100 78.2051 77.6142 100.591 50 100.591C22.3858 100.591 0 78.2051 0 50.5908C0 22.9766 22.3858 0.59082 50 0.59082C77.6142 0.59082 100 22.9766 100 50.5908ZM9.08144 50.5908C9.08144 73.1895 27.4013 91.5094 50 91.5094C72.5987 91.5094 90.9186 73.1895 90.9186 50.5908C90.9186 27.9921 72.5987 9.67226 50 9.67226C27.4013 9.67226 9.08144 27.9921 9.08144 50.5908Z"
                fill="currentColor" />
              <path
                d="M93.9676 39.0409C96.393 38.4038 97.8624 35.9116 97.0079 33.5539C95.2932 28.8227 92.871 24.3692 89.8167 20.348C85.8452 15.1192 80.8826 10.7238 75.2124 7.41289C69.5422 4.10194 63.2754 1.94025 56.7698 1.05124C51.7666 0.367541 46.6976 0.446843 41.7345 1.27873C39.2613 1.69328 37.813 4.19778 38.4501 6.62326C39.0873 9.04874 41.5694 10.4717 44.0505 10.1071C47.8511 9.54855 51.7191 9.52689 55.5402 10.0491C60.8642 10.7766 65.9928 12.5457 70.6331 15.2552C75.2735 17.9648 79.3347 21.5619 82.5849 25.841C84.9175 28.9121 86.7997 32.2913 88.1811 35.8758C89.083 38.2158 91.5421 39.6781 93.9676 39.0409Z"
                fill="currentFill" />
            </svg>
            <span class="sr-only">Loading...</span>
          </div>
        </td>
        } @else{
        @for(data of newData;track data.user_id){
        <tr class="bg-white border-b dark:bg-gray-800 dark:border-gray-700 hover:bg-gray-50 dark:hover:bg-gray-600">
          <th scope="row" class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white">
            {{data.user_name}}
          </th>
          <td class="px-6 py-4">
            {{data.user_email}}
          </td>
          <td class="px-6 py-4">
            {{data.user_gender}}
          </td>
          <td class="px-6 py-4">
            {{data.user_number}}
          </td>
          <td class="px-6 py-4">
            {{convertTimestampToDateTime(data.user_created_at)}}
          </td>
          <td class="px-6 py-4">
            <a [routerLink]="['/user', data.user_id]" class="font-medium  hover:underline " style="text-align: center;">Full
              details</a>
          </td>
          <td class="px-6 py-4">
            <a [routerLink]="['/user/update', data.user_id]" class="font-medium  hover:underline "
              style="text-align: center;">Edit</a>
            <a  class="font-medium  hover:underline mx-5" style="text-align: center;" (click)="delete(data.user_id)" >Delete</a>


          </td>
        </tr>
        }
        @empty {
        <tr class="bg-white border-b dark:bg-gray-800 dark:border-gray-700 hover:bg-gray-50 dark:hover:bg-gray-600">

          <td class="px-6 py-4 text-center text-xl text-red-400" colspan="7" rowspan="2">
            No data found
          </td>
        </tr>
        }
        }
      </tbody>
    </table>
    <mat-paginator #paginator class="demo-paginator" (page)="handlePageEvent($event)" [length]="length"
      [pageSize]="pageSize" [disabled]="disabled" [showFirstLastButtons]="showFirstLastButtons"
      [pageSizeOptions]="showPageSizeOptions ? pageSizeOptions : []" [hidePageSize]="hidePageSize"
      [pageIndex]="pageIndex" aria-label="Select page">
    </mat-paginator>


  </div>
</div>

