#content{
  display: flex;
  align-items: center;
  justify-content: center;
  height: 91.4vh;
  width: 100%;
}
#body{
  padding: 20px 5px;
  background-color: #f0eef3;
  border: 1px solid #673ab7;
  border-radius: 5px;
  box-shadow: 5px 5px 20px #a799c0;
}
h1
{
  margin: 10px 15px 50px 15px;
  text-align: center;
}

#form-body{
  margin-top: 20px;
}
